.about {
    padding: 40px;

    &__title {
        font-size: 28px;
        margin-bottom: 10px;
        background-color: rgb(32, 101, 144);
        padding: 10px; 
        color: white;
        text-align: center; 
    }

    &__description {
        font-size: 16px;
        line-height: 1.5;
    }

  
    @media (max-width: 1024px) {
        &__title {
            font-size: 24px;
            padding-left: 20px;
        }
        
        &__description {
            font-size: 15px;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 22px;
            padding-left: 10px; 
        }
        
        &__description {
            font-size: 14px;
        }
    }


    @media (max-width: 480px) {
        &__title {
            font-size: 20px;
            padding-left: 5px; 
        }

        &__description {
            font-size: 13px;
        }
    }
}