.contacts {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .form-row {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;

        input {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    textarea {
        width: 100%;
        height: 80px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        background: rgb(4, 49, 68);
        color: white;
        font-size: 14px;
        border-radius: 8px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            background: #333;
        }
    }


    @media (max-width: 1024px) {
        max-width: 90%;

        h2 {
            font-size: 22px;
        }
        
        .form-row {
            gap: 5px;

            input {
                width: 48%;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 15px;

        h2 {
            font-size: 20px;
        }

        .form-row {
            flex-direction: column;

            input {
                width: 100%;
            }
        }

        textarea {
            height: 100px;
        }

        button {
            font-size: 13px;
        }
    }

    @media (max-width: 480px) {
        padding: 10px;

        h2 {
            font-size: 18px;
        }

        textarea {
            height: 120px;
        }

        button {
            font-size: 12px;
            padding: 8px;
        }
    }
}