.footer {
    background-color: rgb(32, 101, 144);
    color: white;
    text-align: center;
    padding: 20px;

    &__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__text {
        margin: 0;
        font-size: 14px;
    }

    
    @media (max-width: 1024px) {
        padding: 15px;

        &__title {
            font-size: 16px;
        }

        &__text {
            font-size: 13px;
        }
    }

    
    @media (max-width: 768px) {
        padding: 12px;

        &__title {
            font-size: 14px;
        }

        &__text {
            font-size: 12px;
        }
    }

   
    @media (max-width: 480px) {
        padding: 10px;

        &__title {
            font-size: 12px;
        }

        &__text {
            font-size: 11px;
        }
    }
}