.hero {
    background-color: lighten($primary-color, 40%);
    padding: 50px;
    text-align: center; 

    &__title {
        font-size: 36px;
        color: rgb(32, 101, 144);
        margin-bottom: 10px;
    }

    &__description {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__button {
        background-color: rgb(32, 101, 144);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

 
    @media (max-width: 1024px) {
        padding: 40px;

        &__title {
            font-size: 32px;
        }

        &__description {
            font-size: 16px;
        }
    }

   
    @media (max-width: 768px) {
        padding: 30px;

        &__title {
            font-size: 28px;
        }

        &__description {
            font-size: 15px;
        }

        &__button {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        padding: 20px;

        &__title {
            font-size: 24px;
        }

        &__description {
            font-size: 14px;
        }

        &__button {
            padding: 7px 14px;
            font-size: 13px;
        }
    }
}