.product {
    &__card {
        border: 2px solid border-color;
        border-radius: border-radius;
        box-shadow: shadow;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
            background-color: lighten($primary-color, 40%);
        }

        
        @media (max-width: 768px) {
            padding: 15px;
        }

     
        @media (max-width: 1024px) {
            padding: 18px;
        }
    }

    &__image {
        max-width: 100%;
        border-radius: border-radius;
        margin-bottom: 15px;

        
        @media (max-width: 768px) {
            max-width: 90%;
        }
    }

    &__title {
        font-size: 1.5em;
        color: $primary-color;
        margin-bottom: 10px;

        
        @media (max-width: 768px) {
            font-size: 1.2em;
        }

       
        @media (max-width: 1024px) {
            font-size: 1.3em;
        }
    }

    &__description {
        font-size: 1em;
        color: #333;
        margin-bottom: 15px;

       
        @media (max-width: 768px) {
            font-size: 0.9em;
            margin-bottom: 12px;
        }
    }

    &__price {
        font-size: 1.2em;
        margin-bottom: 20px;

       
        @media (max-width: 768px) {
            font-size: 1em;
            margin-bottom: 15px;
        }

        &-value {
            font-weight: bold;
        }
    }

    
    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}