html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
img{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Oswald',  sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
:root{
    --accent-color: #F7654A;
    --dark-color: #404149;
    --grey-color:#999999 ;
    --white-color:#ffffff ;
    --backgroung-color: #e5e5e5;
}
.h1{
    color:black;
}
.h4{
    color:black;
}
.text-h2{
    font-family: 'Oswald',  sans-serif; 
    font-weight: 500;
    font-size: 36px ;
    text-transform: uppercase;
}
.text-h3{
    font-family: 'Oswald',  sans-serif; 
    font-weight: 500;
    font-size: 24px ;
    
}
.text-h4{
    font-family: 'Oswald',  sans-serif; 
    font-weight: 500;
    font-size: 21px ;
    letter-spacing: 0cap;
}
.text-p{
    font-family: "Open Sans" , sans-serif;
    font-size: 16px;
}
.text-p-reviews{
    font-family: "Open Sans" , sans-serif;
    font-size: 14px;
    line-height:21px ;

}

.header {
    min-height: 540px;
    background-image: url(../img/first-screen-bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.Logo{
 width: 60px;
 height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
}
.burger__line:last-child{
    margin-bottom: 0;

}
.h1 {
    font-weight: 200;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    
    margin: 0 auto 1px;
    color: var(--white-color);

}
.h4 {
    font-weight: 400;
    max-width: 734px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--white-color);
}
.about{
    padding-top: 250px;
    min-height: 1080px;
    position: relative;
}

.info {
   position: absolute; 
   top: -150px;
   left: 50%;
   transform: translateX(-50%);
   max-width: 1110px;
   min-height: 300px;
   width: 100%;
   background-color: #f7f7f7;
   padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4 ,1fr );
    gap: 30px;
    justify-items: center;
}
.about__grid-item {
    background-color: #ddd;
    text-align: center;
    width: 190px;
}
.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about__h5 {
    color: var(--dark-color);
    margin-bottom: 5px;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.about__p {
    color: var(--grey-color);
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
@media screen and (max-width: 1200px) {
    .about__grid {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
    }
 }
@media screen and (max-width: 768px) {
    .info{
        position: relative;
    }
   .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
   }
}

.project-h2 {
    text-align: center;
    margin-bottom: 60px;
}

.about__flex {
    display: flex;

}
.about__flex-item {
    max-width: 350px ;
    margin-right: 30px;
}
.project-img {
    margin-bottom: 45px;
}
.rectangle {
    width: 56 px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;

}

.project-h3 {
    color: var(--dark-color);
    margin-bottom: 20px;

}

.project-p {
    color: var(--grey-color);
}
.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 40px;
}
.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request__flex-left {
    color: var(--accent-color);
}
.request__h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    color: var(--white-color);
}
.request__h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color:var(--white-color)
}

.request__btn {
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald' , sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}

.services {
    padding: 150px 0;
}
.services__h2, .services__h4 {
    color: var(--dark-color);
    text-align: center;
    font-size:20px;;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    
}
.services__h2{
    margin-bottom: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:30px;
    justify-items: center;
}
.services__grid-item{
    padding: 59px 0;
    background-color: #f7f7f7;
    width: 350px;
}
.services__icon {
    margin: 0 auto;
}
.section__h2{
    font-weight: 200;
    font-size: 35px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    
    margin: 0 auto 1px;
    color: var(--dark-color);

}
.project-img {
    margin-bottom: 45px;
}


.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;


}
@media screen and (max-widht: 1280px){
    .portfolio__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width : 768px) {
    .portfolio__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
.question {
    padding-top: 150px;
    padding-bottom: 150px;
}
 .question .section__h2 {
    margin-bottom: 50px;
}


.question_h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 30px;
}
.question_p {
    margin-bottom: 40px;
    color: var(--grey-color);
    max-width: 730px;
}
.question_h3.open::before,
.question_h3.close::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/arror-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;

}
.question_h3.open::before{
    transform: rotate(-90deg);
}
.question_h3.close+.question_p{
    display: none;
}
.partners {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark-color);
}

.partners__h2 {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 60px;
}
.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__item {
    margin-right: 40px;
    margin-bottom: 20px;
    max-width: 170px;
}
.reviews{
   padding: 150px 0; 
}
.reviews__h2{
    text-align: center;
    margin-bottom: 60px;
}
.reviews__grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}
.reviews__card {
    background-color: #f7f7f7;
    padding: 30px;
    margin-bottom: 30px;
}
.reviews__quotes {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    color: var(--accent-color);
    line-height: 1;
    margin-bottom: -40px;
}

.text-h4 {
    font-size: 20px;
}
.reviews__autor-accept {
    color: var(--accent-color);

}

.request {
    background-color: var(--accent-color);
    padding-top: 30px;
    padding-bottom: 40px;
}
.request__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.request__flex-left {
    color: var(--accent-color);
}
.request__h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    color: var(--white-color);
}
.request__h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color:var(--white-color)
}

.request__btn {
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald' , sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
}


.contacts {
    padding: 100px 0 150px;
}

.contacts__h2 {
    text-align: center;
    margin-bottom: 60px;
}
.contact__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.contacts__item {
    max-width: 255px;
    text-align: center;
}
.contacts__icom {
    width:50px ;
    height: 50px;
    margin: 0 auto 15px;
}

.contacts__h3 {
    text-transform: uppercase;
}
.contacts__h3-grey {
    color: var(--grey-color);
    margin-bottom: 25px;
}
.contacts__h3-accept {
    color: var(--accent-color);
}
.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}
.footer__flex {
    display: flex;
    justify-content: space-between;

}
